{% extends 'base.html' %}

{% block title %}Title{% endblock content %}

{% block content %}
<section class="about-section center-row">
    <div class="about-image-container">
        <img src="{% static '/img/logo.png' %}" alt="logo">
    </div>

    <div class="about-image-container center-column">
        <h1>My Role as a Developer</h1>
        <h2>Ryan Marlow</h2>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae natus iste reiciendis hic pariatur
            doloribus architecto totam animi, odit a perspiciatis, velit itaque quo error asperiores obcaecati, adipisci
            repellat veritatis molestias harum cumque molestiae non quam. Obcaecati debitis rerum, placeat itaque
            incidunt alias est facilis suscipit? Facere, consectetur unde sapiente magni neque at accusamus non? Minima
            error laborum cum ab quasi molestiae soluta blanditiis, delectus quisquam quo reprehenderit fugit modi a
            officiis commodi veritatis.<br /><br /> Repellat dolorem vel eligendi porro suscipit nam! Nesciunt cumque
            asperiores, vitae nemo nisi rem omnis voluptates dolore cupiditate sed illum veritatis quis porro eius
            necessitatibus temporibus aperiam delectus voluptate molestiae officia? Repudiandae, molestiae nesciunt at
            dolorem doloribus quos dolor odio assumenda nostrum rem quo ea minus.
        </p>
        <div class="skills-container center-column">
            <h2>My Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>
    </div>
</section>

{% endblock content %}