{% extends 'base.html' %}

{% block title %}Title{% endblock content %}

{% block content %}
<section class="about-section center-row">
    <div class="about-image-container">
        <img src="{% static '/img/logo.png' %}" alt="logo">
    </div>

    <div class="about-image-container center-column">
        <h1>My Role as a Developer</h1>
        <h2>Ryan Marlow</h2>

        <p>
            As a new and learning developerm my goal is to be a life-long student of the craft and be able to do all
            sorts of tasks seemlessly at an advanced level. I have worked in different industries wearing different hats
            and can see where where developer skills would be of much use.<br /><br /> As of right now I would need to
            break into the industry first, as I am very green, and start at an entry level.
        </p>
        <div class="skills-container center-column">
            <h2>My Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">Music</label>
                <label class="text-label">frontend</label>
                <label class="text-label">UX</label>
                <label class="text-label">cooking</label>
                <label class="text-label">adaptable</label>
                <label class="text-label">diving</label>
                <label class="text-label">mechanical</label>
                <label class="text-label">fishing</label>
                <label class="text-label">problem solve</label>
                <label class="text-label">manage</label>
            </div>
        </div>
    </div>
</section>

{% endblock content %}